USE [master]
GO
/****** Object:  Database [Budweg_Database]    Script Date: 03-03-2026 13:41:19 ******/
CREATE DATABASE [Budweg_Database]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Budweg_Database', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Budweg_Database.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Budweg_Database_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.SQLEXPRESS\MSSQL\DATA\Budweg_Database_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Budweg_Database].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Budweg_Database]
GO
/****** Object:  Table [dbo].[BUILDING]    Script Date: 03-03-2026 13:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[BUILDING](
	[BuildingId] [int] IDENTITY(1,1) NOT NULL,
	[BuildingName] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Building] PRIMARY KEY CLUSTERED 
(
	[BuildingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[EMPLOYEE]    Script Date: 03-03-2026 13:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[EMPLOYEE](
	[EmployeeId] [int] IDENTITY(1,1) NOT NULL,
	[FrontName] [nvarchar](20) NOT NULL,
	[LastName] [nvarchar](20) NOT NULL,
	[Department] [nvarchar](50) NOT NULL,
	[BuildingId] [int] NULL,
 CONSTRAINT [PK_Employee] PRIMARY KEY CLUSTERED 
(
	[EmployeeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[REGISTRATION]    Script Date: 03-03-2026 13:41:19 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[REGISTRATION](
	[RegistrationId] [int] IDENTITY(1,1) NOT NULL,
	[Arrival] [datetime2](7) NOT NULL,
	[Departure] [datetime2](7) NULL,
	[EmployeeId] [int] NOT NULL,
 CONSTRAINT [PK_Registration] PRIMARY KEY CLUSTERED 
(
	[RegistrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[BUILDING] ON 

INSERT [dbo].[BUILDING] ([BuildingId], [BuildingName]) VALUES (1, N'Admin')
INSERT [dbo].[BUILDING] ([BuildingId], [BuildingName]) VALUES (2, N'Hal 1')
INSERT [dbo].[BUILDING] ([BuildingId], [BuildingName]) VALUES (3, N'Hal 2')
SET IDENTITY_INSERT [dbo].[BUILDING] OFF
GO
SET IDENTITY_INSERT [dbo].[EMPLOYEE] ON 

INSERT [dbo].[EMPLOYEE] ([EmployeeId], [FrontName], [LastName], [Department], [BuildingId]) VALUES (1, N'Mathias', N'Sørensen', N'Produktion', NULL)
INSERT [dbo].[EMPLOYEE] ([EmployeeId], [FrontName], [LastName], [Department], [BuildingId]) VALUES (2, N'Natasha', N'Nordentoft', N'Produktion', NULL)
INSERT [dbo].[EMPLOYEE] ([EmployeeId], [FrontName], [LastName], [Department], [BuildingId]) VALUES (3, N'Janick', N'Rasmussen', N'HR', NULL)
SET IDENTITY_INSERT [dbo].[EMPLOYEE] OFF
GO
ALTER TABLE [dbo].[EMPLOYEE]  WITH CHECK ADD  CONSTRAINT [FK_Employee_Building] FOREIGN KEY([BuildingId])
REFERENCES [dbo].[BUILDING] ([BuildingId])
GO
ALTER TABLE [dbo].[EMPLOYEE] CHECK CONSTRAINT [FK_Employee_Building]
GO
ALTER TABLE [dbo].[REGISTRATION]  WITH CHECK ADD  CONSTRAINT [FK_Registration_Employee] FOREIGN KEY([EmployeeId])
REFERENCES [dbo].[EMPLOYEE] ([EmployeeId])
GO
ALTER TABLE [dbo].[REGISTRATION] CHECK CONSTRAINT [FK_Registration_Employee]
GO
USE [master]
GO
